* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

html {
  scroll-behavior: smooth;
}

.interface {
  margin: 0 8%;
}

.flex {
  display: flex;
}

h2.titulo {
  color: #03334e;
  font-size: 28px;
  text-align: center;
}

h2.titulo span {
  color: #0d7eae;
}

header {
  padding: 10px;
  width: 100%;
  position: absolute;
}

header .menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav.menu-desktop ul {
  display: flex;
  align-items: center;
}

header button {
  cursor: pointer;
  background: transparent;
  border: 1px solid #fffaff;
  padding: 5px 10px;
  border-radius: 30px;
  transition: all 0.5s ease;
}

header button:hover {
  background-color: #fffaff;
  color: #0d7eae;
}

header button a:hover {
  color: #0d7eae;
}

header button a {
  color: #fffaff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.5s ease;
}

header nav.menu-desktop ul li {
  list-style-type: none;
  padding: 10px;
}

header ul li a {
  text-decoration: none;
  color: #fffaff;
}

/* Menu-mobile */
.btn-abrir-menu {
  display: none;
}
.btn-abrir-menu svg {
  width: 35px;
  height: 35px;
  color: #fff;
}
.menu-mobile {
  background-color: #03334e;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: 0%;
  overflow: hidden;
  transition: 0.5s;
}

.menu-mobile nav ul {
  padding: 30px 8%;
  text-align: right;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu-mobile.abrir-menu {
  width: 70%;
}
.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
  display: block;
}

.menu-mobile nav ul li a {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  display: block;
  padding: 15px 6%;
}

.menu-mobile nav ul li a:hover {
  background-color: #fffaff;
  color: #03334e;
  font-weight: 600;
}
.menu-mobile .btn-fechar {
  padding: 20px 5%;
}
.menu-mobile .btn-fechar svg {
  width: 50px;
  height: 50px;
  color: #fff;
}
.overlay-menu {
  background-color: #000000a1;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 888;
  display: none;
}
/*.....................*/
/* Banner */
section.banner {
  padding-top: 60px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    245.49deg,
    #1278b1 0%,
    #0d7eae 28.53%,
    #03334e 75.52%
  );
}

section.banner .hero {
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.banner .hero h1 {
  color: #fff;
  font-weight: 700;
  font-style: italic;
  font-size: 2em;
}

section.banner .hero p {
  font-size: 1.2em;
  margin: 10px 0;
  color: #fefefe;
}

section.banner .hero-img img {
  width: 350px;
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

section.banner .txt-hero a {
  display: inline-block;
  color: #fff;
  border: 1px solid transparent;
  background-color: #0d7eae;
  padding: 12px 25px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: 0.4s;
  text-decoration: none;
}

section.banner .txt-hero a.cta svg {
  vertical-align: middle;
  margin-right: 5px;
}

section.banner .txt-hero a:hover {
  background: transparent;
  border: 1px solid #fff;
  transform: translate(8px);
}

@keyframes flutuar {
  0% {
    top: 0;
  }

  100% {
    top: 30px;
  }
}

/* ................ */

/* Icones */
section.links .icones {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

section.links .icones svg {
  display: block;
  margin: 25px 0;
  color: #fff;
  transition: all 0.5s ease;
}

section.links .icones svg:hover {
  color: #0d7eae;
  transform: translateY(-5px);
}

/* .............. */

/* Especialidades */
section.especialidade {
  padding: 40px 0;
}

section.especialidade .flex {
  gap: 30px;
  flex-wrap: nowrap;
  justify-content: center;
}

.especialidade .especialidade-box {
  width: 329px;
  border-radius: 15px;
  margin-top: 25px;
  color: #fffaff;
  padding: 10px;
  border: 1px solid #e2e2e268;
  transition: all 0.5s ease;
}

.especialidade .especialidade-box:hover {
  border: none;
  transform: scale(1.05);
  box-shadow: 0 0 10px #0d7eae7e;
}

.especialidade .especialidade-box svg {
  height: 50px;
  width: 50px;
  color: #0d7eae;
}

.especialidade .especialidade-box a {
  color: #03334e;
  text-decoration: none;
}

.especialidade .especialidade-box p {
  color: #000000;
}

.especialidade .especialidade-box h3 {
  font-size: 28px;
  margin: 15px 0;
}

/* ........... */

/* Sobre */
section.sobre {
  padding: 55px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.sobre .flex {
  align-items: center;
  gap: 60px;
}

section.sobre .flex .txt-sobre p {
  margin: 20px 0;
  text-align: justify;
}

.btn-social button {
  text-align: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: none;
  background-color: #0d7eae;
  color: #fffaff;
  cursor: pointer;
  margin: 0 3px;
  transition: 0.5s;
}

.btn-social button:hover,
form .btn-enviar input:hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px #0d7eae;
}

/* ........... */

/* Projectos */
section.projectos {
  margin-top: 60px;
  padding: 40px 0;
  box-shadow: 0 0 40px 10px #0d7eae1a;
}

section.projectos .flex {
  gap: 40px;
  margin-top: 40px;
}
section.projectos .txt-projectos {
  text-align: center;
}
section.projectos .txt-projectos p {
  font-size: 1.1em;
}
.img-projectos {
  width: 380px;
  height: 460px;
  background-size: cover;
  background-position: 100% 0%;
  transition: all 8s;
  cursor: pointer;
  border-radius: 30px;
  position: relative;
}

.img-projectos:hover {
  background-position: 100%;
}

.img-projectos .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0d7eaec3;
  border-radius: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  opacity: 0;
  transition: 0.6s;
}

.img-projectos .overlay:hover {
  opacity: 1;
}

/* ........... */
/* Formulário */
section.formulario {
  padding: 40px 0;
  margin-top: 30px;
}

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

form input,
form textarea {
  width: 100%;
  border: 2px solid #03334e;
  outline: 0;
  padding: 20px 15px;
  border-radius: 15px;
  color: #03334e;
  font-size: 15px;
}

form textarea {
  resize: none;
  height: 150px;
}

form .btn-enviar {
  margin-top: 20px;
  text-align: center;
}

form .btn-enviar input {
  height: 50px;
  width: 120px;
  cursor: pointer;
  font-weight: 600;
  background-color: #0d7eae;
  color: #fff;
  border: 0;
  transition: all 0.5s ease;
}

/* ........... */
/* Estilização do Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.4s ease, transform 0.3s ease;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.modal-content h2 {
  color: #0d7eae;
  opacity: 0;
  animation: fadeIn 0.8s forwards 0.5s ease-in-out;
}

.modal-content p {
  color: #333;
  opacity: 0;
  animation: fadeIn 0.8s forwards 0.7s ease-in-out;
}

.modal-content button {
  background: #0d7eae;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  opacity: 0;
  animation: fadeIn 0.8s forwards 0.9s ease-in-out;
}

button:hover {
  background: #03334e;
}

.modal-content .close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

/* ANIMAÇÃO DO CHECKMARK */
.checkmark {
  width: 72px;
  height: 72px;
  stroke-width: 3;
  stroke: #4caf50;
  stroke-miterlimit: 10;
  margin-bottom: 10px;
  display: block;
  stroke-linecap: round;
  stroke-linejoin: round;
  animation: fadeIn 0.8s forwards 0.3s ease-in-out;
}

.checkmark-circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke: #4caf50;
  fill: none;
  animation: strokeCircle 0.8s ease-out forwards;
}

.checkmark-check {
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: strokeCheck 0.4s ease-out forwards 0.5s;
}

/* Animação de círculo */
@keyframes strokeCircle {
  from {
    stroke-dashoffset: 166;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/* Animação do check */
@keyframes strokeCheck {
  from {
    stroke-dashoffset: 48;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/* Animação de fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*........................*/

/* footer */
footer {
  padding: 30px 4%;
  box-shadow: 0 0 40px 10px #0d7eae1a;
}

footer .flex {
  justify-content: space-between;
}

footer .linha-footer {
  padding: 20px 0;
}
footer .copy{
  display: flex;
  justify-content: space-between;
}
footer .linha-footer:first-child {
  border-bottom: 2px solid #03334e;
}

footer .linha-footer p {
  display: flex;
  align-items: center;
  color: #0d7eae;
}

footer .linha-footer a {
  margin-left: 5px;
  color: #0d7eae;
  text-decoration: none;
}
/* ........... */
